click==7.1.2
colorama==0.4.3
Flask==1.1.2
future==0.18.2
future-fstrings==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
loguru==0.5.0
MarkupSafe==1.1.1
numpy==1.18.2
opencv-python==4.2.0.34
Pillow==9.5.0
PyGLM==1.2.0
pymongo==3.10.1
PyOpenGL==3.1.5
pypiwin32==223
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyquaternion==0.9.5
pyserial==3.4
PyTurboJPEG==1.4.1
pytz==2020.1
pywin32==227
PyYAML==5.4
tokenize-rt==4.0.0
Werkzeug==1.0.1
packaging==21.0
DracoPy==1.4.0

# Remote WHL
https://download.lfd.uci.edu/pythonlibs/w6tyco5e/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
https://download.lfd.uci.edu/pythonlibs/w6tyco5e/PyAlembic-1.8.2-cp37-cp37m-win_amd64.whl

# Local Files
G:/resource/Metashape-1.7.3-cp35.cp36.cp37.cp38-none-win_amd64.whl
G:/resource/OpenEXR-1.3.2-cp37-cp37m-win_amd64.whl
G:/resource/spinnaker_python-1.27.0.48-cp37-cp37m-win_amd64.whl
