click==7.1.2
colorama==0.4.3
Flask==1.1.2
future==0.18.2
future-fstrings==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
loguru==0.5.0
MarkupSafe==1.1.1
numpy==1.18.2
opencv-python==4.2.0.34
Pillow==8.2.0
PyGLM==1.2.0
pymongo==3.10.1
PyOpenGL==3.1.5
pypiwin32==223
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyquaternion==0.9.5
pyserial==3.4
PyTurboJPEG==1.4.1
pytz==2020.1
pywin32==227
PyYAML==5.4
tokenize-rt==4.0.0
Werkzeug==1.0.1
packaging==21.0


# Local Files
../../4drec-face-resource/Metashape-1.7.3-cp35.cp36.cp37.cp38-none-win_amd64.whl
../../4drec-face-resource/OpenEXR-1.3.2-cp37-cp37m-win_amd64.whl
../../4drec-face-resource/spinnaker_python-2.4.0.144-cp37-cp37m-win_amd64.whl

# OpenCue Client
PySide2==5.11.2
https://github.com/AcademySoftwareFoundation/OpenCue/releases/download/v0.8.8/pycue-0.8.8-all.tar.gz
https://github.com/AcademySoftwareFoundation/OpenCue/releases/download/v0.8.8/pyoutline-0.8.8-all.tar.gz
https://github.com/AcademySoftwareFoundation/OpenCue/releases/download/v0.8.8/cueadmin-0.8.8-all.tar.gz
https://github.com/AcademySoftwareFoundation/OpenCue/releases/download/v0.8.8/cuegui-0.8.8-all.tar.gz
